[submodule "make-utils"]
	path = make-utils
	url = https://github.com/wichtounet/make-utils
[submodule "Catch"]
	path = Catch
	url = https://github.com/philsquared/Catch.git
[submodule "cpm"]
	path = cpm
	url = https://github.com/wichtounet/cpm.git
